.navbar {
  background: linear-gradient(to bottom, #1c1c1c, rgba(28, 28, 28, 0.5));
}
.navbar .nav-item .nav-link {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  transition: color 0.5s ease, border 0.5s ease;
}
.navbar .nav-item .nav-link.active {
  color: #d4af37;
  border-bottom: 1px solid #d4af37;
}
.navbar .nav-item .nav-link:hover {
  color: #d4af37;
}

@media (max-width: 992px) {
  .navbar {
    background-color: #1c1c1c;
  }
  .navbar .navbar-toggler {
    color: #fff;
    border: none;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-width='2' d='M1 2h14M1 8h14M1 14h14'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
  }
  .navbar .nav-item:last-child {
    margin-bottom: 12px;
  }
}
#hero {
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.2)), url(../images/imagem_hero_medium.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (min-width: 992px) {
  #hero {
    margin-top: -58px;
  }
}
#hero .container-content h1 {
  color: #d4af37;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 44px;
  line-height: 60px;
}
#hero .container-content p {
  color: #e1e1e1;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 24px;
  padding-bottom: 32px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    min-height: 70vh;
  }
}
@media (max-width: 992px) {
  #hero {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  #hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  #hero .container-content {
    position: relative;
    z-index: 2;
  }
  #hero .container-content h1 {
    text-shadow: 2px 2px 8px rgba(255, 215, 0, 0.4);
  }
}
@media (max-width: 430px) {
  #hero .container-content h1 {
    font-size: 36px;
  }
}
#about {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 112px;
}
#about img {
  max-width: 450px;
  max-height: 450px;
  border-radius: 12px;
}
#about p {
  letter-spacing: 1px;
  color: #fff;
  line-height: 28px;
  margin: 24px 0 0;
}
#about .about-list {
  margin: 24px 0 0;
}
#about .about-list li {
  margin-bottom: 4px;
}
#about .about-list li i {
  color: rgb(23, 187, 23);
  margin-right: 8px;
}
#about .about-list li span {
  color: #ccc;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

@media (max-width: 992px) {
  #about img {
    margin-bottom: 32px;
  }
}
#reviews {
  padding: 112px 0;
  background-color: #fff;
}
#reviews h2 {
  color: #1c1c1c;
}
#reviews .title-reviews {
  margin: 0 0 80px;
}
#reviews .title-reviews p {
  font-weight: 500;
  color: #1c1c1c;
}
#reviews .carousel-indicators {
  top: 300px;
}
#reviews .carousel-inner {
  max-width: 600px;
  margin: 0 auto;
}
#reviews .carousel-inner .carousel-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  padding: 24px;
  border-radius: 12px;
}
#reviews .carousel-inner .carousel-item .five-stars {
  color: #d4af37;
}
#reviews .carousel-inner .carousel-item p {
  margin: 24px 0;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
}
#reviews .carousel-inner .carousel-item .person {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 250px;
}
#reviews .carousel-inner .carousel-item .person img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
#reviews .carousel-inner .carousel-item .person-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  margin-left: 24px;
}
#reviews .carousel-inner .carousel-item .person-info span:first-child {
  font-weight: 500;
  font-size: 14px;
}
#reviews .carousel-inner .carousel-item .person-info span:last-child {
  font-weight: 300;
  font-size: 12px;
}

@media (max-width: 767px) {
  #reviews .title-reviews {
    margin: 0 0 60px;
  }
  #reviews .carousel-indicators {
    top: 350px;
  }
}
@media (max-width: 372px) {
  #reviews .carousel-indicators {
    top: 400px;
  }
}
#products {
  padding: 112px 0;
}
#products .title-products {
  margin: 0 0 80px;
}
#products .title-products p {
  color: #fff;
  font-weight: 500;
}
#products .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 60px;
}
#products .products .product-item img {
  border-radius: 12px;
}
#products .products .product-item .primary {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  color: #fff;
}
#products .products .product-item .primary-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
}
#products .products .product-item .primary-price {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
}
#products .products .product-item small {
  color: #ccc;
  display: block;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  #products .products {
    grid-template-columns: 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #products .products {
    grid-template-columns: 1fr 1fr;
  }
}
#faq {
  padding: 112px 0;
  background-color: #eee;
}
#faq .title-faq {
  margin: 0 0 80px;
}
#faq .title-faq p {
  color: #000;
  font-weight: 500;
}
#faq .row-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#faq .faq {
  padding-right: 40px;
}
#faq .faq .accordion-item {
  margin-bottom: 8px;
  border-radius: 12px;
}
#faq .faq .accordion-button {
  color: #000;
  border-radius: 12px;
}
#faq .cta {
  letter-spacing: 1px;
  text-align: center;
}
#faq .cta h3 {
  font-weight: bold;
  color: #000;
}
#faq .cta p {
  margin: 18px 0;
  color: #1c1c1c;
}

@media (max-width: 992px) {
  #faq {
    padding: 64px 0;
  }
  #faq .title-faq {
    margin: 0 0 48px;
  }
  #faq .faq {
    padding-right: 12px;
  }
  #faq .cta {
    margin-top: 48px;
  }
}
#contact {
  padding: 112px 0;
  background-color: #fff;
}
#contact .title-contact {
  padding: 0 0 80px;
}
#contact .title-contact h6 {
  color: #1c1c1c;
}
#contact .title-contact p {
  color: #000;
  font-weight: 500;
}
#contact .contacts {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#contact .contacts-item {
  margin-bottom: 40px;
}
#contact .contacts-item i {
  margin-bottom: 16px;
  color: #d4af37;
  font-size: 24px;
}
#contact .contacts-item b {
  display: block;
}
#contact .contacts-item p {
  margin: 8px 0;
}

@media (max-width: 992px) {
  #contact {
    padding: 64px 0;
  }
  #contact .title-contact {
    padding: 48px 12px;
    text-align: center;
  }
  #contact .contacts {
    padding: 0 12px;
  }
}
#footer {
  background-color: #1c1c1c;
  padding: 80px 0 40px;
}
#footer .footer-layer1 {
  display: flex;
  align-items: baseline;
  padding-bottom: 40px;
  border-bottom: 1px solid #d4af37;
}
#footer .footer-layer1 h2 a {
  color: #d4af37;
  transition: color 0.5s ease;
}
#footer .footer-layer1 h2 a:hover {
  color: #fff;
}
#footer .footer-layer1 .links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#footer .footer-layer1 .links li {
  margin-right: 12px;
}
#footer .footer-layer1 .links li a {
  color: #fff;
  transition: color 0.5s ease;
}
#footer .footer-layer1 .links li a:hover {
  color: #d4af37;
}
#footer .footer-layer1 .list-icons {
  color: #fff;
  display: flex;
  padding: 0 16px;
  margin: 0;
}
#footer .footer-layer1 .list-icons li {
  margin-right: 12px;
}
#footer .footer-layer1 .list-icons li i {
  font-size: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  color: #fff;
}
#footer .footer-layer1 .list-icons li i:hover {
  transform: translateY(-5px);
}
#footer .footer-layer2 {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 24px;
}
#footer .footer-layer2 p {
  font-weight: 400;
}
#footer .footer-layer2 span {
  font-weight: 400;
}
#footer .footer-layer2 span a {
  color: #d4af37;
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 992px) {
  #footer {
    padding: 48px 0;
  }
  #footer .footer-layer1 {
    align-items: center;
    padding-bottom: 48px;
    text-align: center;
  }
  #footer .footer-layer1 .links {
    flex-direction: column;
    padding: 0 12px;
    margin: 48px 0;
  }
  #footer .footer-layer1 .links li {
    margin-right: 0;
    margin-bottom: 12px;
  }
  #footer .footer-layer1 .list-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin: 0 auto;
  }
  #footer .footer-layer1 .list-icons li {
    margin-right: 0;
  }
  #footer .footer-layer1 .list-icons li:nth-child(2) {
    margin: 0 18px;
  }
  #footer .footer-layer1 .list-icons li i {
    font-size: 24px;
  }
  #footer .footer-layer2 {
    padding-top: 24px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
  }
}
.btn-wpp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}
.btn-wpp img {
  max-width: 74px;
  transition: transform 0.5s ease;
}
.btn-wpp img:hover {
  transform: scale(1.1);
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  padding: 4px;
  border-radius: 12px;
  text-align: center;
  top: 8px;
  left: -144px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.btn-wpp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .btn-wpp img {
    max-width: 64px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #1c1c1c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

li {
  list-style: none;
}

button, a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img, svg {
  width: 100%;
}

.btn-brand {
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 36px;
  background-color: #d4af37;
  border: 2px solid #d4af37;
  color: #1c1c1c;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}
.btn-brand:hover {
  background-color: transparent;
  color: #d4af37;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
}
@media (max-width: 430px) {
  .btn-brand {
    padding: 16px 12px;
  }
}
@media (max-width: 329px) {
  .btn-brand {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
}

.btn-outline-brand {
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 36px;
  background-color: transparent;
  color: #d4af37;
  border: 2px solid #d4af37;
  display: inline-block;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}
.btn-outline-brand:hover {
  background-color: #d4af37;
  color: #1c1c1c;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.8);
}
@media (max-width: 430px) {
  .btn-outline-brand {
    padding: 16px 12px;
  }
}
@media (max-width: 329px) {
  .btn-outline-brand {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.btn-cart {
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  padding: 16px;
  background-color: #d4af37;
  color: #fff;
  display: block;
  transition: transform 0.5s ease;
}
.btn-cart:hover {
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .btn-cart:hover {
    transform: scale(1.03);
  }
}

.brand {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 28px;
  color: #fff;
  transition: color 0.5s ease;
}
.brand:hover {
  color: #d4af37;
}

.title-small {
  color: #d4af37;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
}

.title-large {
  color: #d4af37;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
}/*# sourceMappingURL=main.css.map */