@import './variables';

.btn-wpp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    img {
        max-width: 74px;
        transition: transform .5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    padding: 4px;
    border-radius: 12px;
    text-align: center;
    top: 8px;
    left: -144px;
    background-color: $corPreto;
    color: $corBranco;
    opacity: 0;
    transition: opacity .5s ease;
}

.btn-wpp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
} 

@media screen and (max-width: 767px) {
    .btn-wpp {
        img {
            max-width: 64px;
        }
    }
}