@import './variables';

.navbar {
    background: linear-gradient(to bottom, #1c1c1c, rgba(28, 28, 28, 0.2));

    .nav-item .nav-link {
        color: $corBranco;
        letter-spacing: 2px;
        font-weight: 400;
        border-bottom: 1px solid transparent;
        transition: color .5s ease, border .5s ease;

        &.active {
            color: $corDourado;
            border-bottom: 1px solid $corDourado;
        }

        &:hover {
            color: $corDourado;
        }
    }

    
    
}

@media (max-width: 992px) {
    .navbar {
        background-color: $corPretoFosco;

        .navbar-toggler {
            color: $corBranco;
            border: none;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath stroke='white' stroke-width='2' d='M1 2h14M1 8h14M1 14h14'/%3E%3C/svg%3E");
                width: 24px;
                height: 24px;
            }
        }
    }
}