// FONTES
$fonteSerif: "Playfair Display", serif; //TÍTULOS
$fonteSansSerif: "Open Sans", sans-serif; //TEXTOS

// CORES 1
$corBranco: #fff;
$corPreto: #000;
$corCinza: #ccc;
$corCinza2: #eee;
$corCinza3: #e1e1e1;

// CORES 2
$corPretoFosco: #1c1c1c;
$corDourado: #d4af37;
$corCinzaClaro: #f5f5f5;

// CORES 3
$corDouradoSuave: #D9A760;
$corAzulMarinho: #1E3A8A;